{% extends 'base.html' %}
{% import 'macros.html' as macro%}
{% block content %}
{% for alert in get_flashed_messages() %}
<div class="alert alert-danger">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    {{ alert }}
</div>
{% endfor %}
<div class="row" style="overflow-x: hidden;">
    <div class="col-md-12">
        <div class=" quotes .bg-teal .bg-darken-2">
            <div class="" style="font-size: 15px;font-family: Balsamiq Sans;">
                <h1 class="card-header text-center"> Quotes </h1>
                <p class="card-header">"{{quotes.quote}}"</p>
                <p class="card-header"><strong> Author: {{quotes.author}} </strong></p>
            </div>
        </div>
    </div>
    <div class="col-md-9" style="font-family: 'Oswald', sans-serif;">
        <div class="card-deck">
            <div class="cards border-primary display">
                <div class="card-header bg-transparent border-primary text-center">
                    <h4 style="font-family: 'Oswald', sans-serif;"> <strong> Sports </strong></h4>
                </div>
                <div class="card-body text-primary">
                    <h5 class="card-title" style="font-family: 'Oswald', sans-serif;">Get the Latest Sports Articles
                    </h5>
                    <p class="card-text" style="font-family: 'Oswald', sans-serif;">Have any sport blog that you would
                        like to share? Post it down here.</p>
                </div>
                <div class="bg-transparent border-primary text-center"><a href="/blogs/sports"
                        class="btn btn-outline-secondary waves-effect "> View Blogs </a></div>
            </div>

            <div class="cards border-primary display">
                <div class="card-header bg-transparent border-primary text-center">
                    <h4 style="font-family: 'Oswald', sans-serif;"> <strong> Travel </strong></h4>
                </div>
                <div class="card-body text-primary">
                    <h5 class="card-title" style="font-family: 'Oswald', sans-serif;">Get the Latest Travel Articles
                    </h5>
                    <p class="card-text" style="font-family: 'Oswald', sans-serif;">Highlighting some of the best travel
                        blogs that can help you decide best on the place that you would like to visit</p>
                </div>
                <div class="bg-transparent border-primary text-center"><a href="/blogs/travel"
                        class="btn btn-outline-secondary waves-effect "> View Blogs </a></div>
            </div>

            <div class="cards border-primary display">
                <div class="card-header bg-transparent border-primary text-center">
                    <h4 style="font-family: 'Oswald', sans-serif;"> <strong> Fitness </strong></h4>
                </div>
                <div class="card-body text-primary">
                    <h5 class="card-title" style="font-family: 'Oswald', sans-serif;">Get the Best Fitness Articles</h5>
                    <p class="card-text" style="font-family: 'Oswald', sans-serif;"> Get to know the newest fitness
                        technic that you have not come across</p>
                </div>
                <div class="bg-transparent border-primary text-center"><a href="/blogs/fitness"
                        class="btn btn-outline-secondary waves-effect "> View Blogs </a></div>
            </div>
        </div>
        <div class="card-deck">
            <div class="cards border-primary display">
                <div class="card-header bg-transparent border-primary text-center">
                    <h4 style="font-family: 'Oswald', sans-serif;"> <strong> Fashion </strong></h4>
                </div>
                <div class="card-body text-primary">
                    <h5 class="card-title" style="font-family: 'Oswald', sans-serif;">Exciting Fashion Articles</h5>
                    <p class="card-text" style="font-family: 'Oswald', sans-serif;"> This is where you get the latest
                        Fashion designs and also gossip about them.</p>
                </div>
                <div class="bg-transparent border-primary text-center"><a href="/blogs/fashion"
                        class="btn btn-outline-secondary waves-effect "> View Blogs </a></div>
            </div>

            <div class="cards border-primary display">
                <div class="card-header bg-transparent border-primary text-center">
                    <h4 style="font-family: 'Oswald', sans-serif;"> <strong> Food Blogs </strong></h4>
                </div>
                <div class="card-body text-primary">
                    <h5 class="card-title" style="font-family: 'Oswald', sans-serif;">Yummy</h5>
                    <p class="card-text" style="font-family: 'Oswald', sans-serif;"> Get to experience the best cooking
                        techniques that you have never imagined of.</p>
                </div>
                <div class="bg-transparent border-primary text-center"><a href="/blogs/food"
                        class="btn btn-outline-secondary waves-effect "> View Blogs </a></div>
            </div>
            <div class="cards border-primary display">
                <div class="card-header bg-transparent border-primary text-center">
                    <h4 style="font-family: 'Oswald', sans-serif;"> <strong> Political Blogs </strong></h4>
                </div>
                <div class="card-body text-primary">
                    <h5 class="card-title" style="font-family: 'Oswald', sans-serif;"> Get to know what trending in the
                        political sector</h5>
                    <p class="card-text" style="font-family: 'Oswald', sans-serif;"> Check on the things that
                        politicials have in store for you and get to enter into the gossip.</p>
                </div>
                <div class="bg-transparent border-primary text-center"><a href="/blogs/politics"
                        class="btn btn-outline-secondary waves-effect"> View Blogs </a></div>
            </div>
        </div>
    </div>
</div>
<footer class="page-footer font-small unique-color-dark pt-4">
    <div class="container">
        <ul class="list-unstyled list-inline text-center py-2">
            <li class="list-inline-item">
                <h5 class="mb-1">| Subscribe today |</h5>
            </li>
            <li class="list-inline-item">
                <a href="/subscription" class="btn btn-outline-secondary waves-effect">| SUBSCRIBE |</a>
            </li>
        </ul>
    </div>
    <div class="footer-copyright text-center py-3">|© 2020 Copyright|
        <a href="https://mdbootstrap.com/education/bootstrap/">| Blog your Blog |</a>
    </div>
</footer>
{% endblock%}