{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}
 {% block content %}
    <div class="container-fluid subscribe">
        <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8" style="font-family: 'Oswald', sans-serif;">
         <h4 style="font-family: 'Oswald', sans-serif;">Subscribe to get the latest Blog Posts alerts</h4>
         {{wtf.quick_form(subscription_form)}}
        </div>
        <div class="col-md-2"></div>
        </div>
    </div>
 {% endblock%}